{% extends "layout.html" %}

{% block content %}

<div class="row">
    <button class="btn btn btn-primary text-center" id="accpetinfo" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    </button>
    <div class="collapse" id="collapseExample">
        <div class="border border-secondary">
            <div class="card w-100">
                <div class="card-body" id="card">
                    <h5 class="card-title fs-1" id="username"></h5>
                    <h5 class="card-text " id="otherinfo"></h5>
                    <h5 class="card-text " id="phone"></h5>
                    <h5 class="card-text text-end" id="rt"></h5>
                    <h5 class="card-text text-end" id="at"></h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="border border-secondary " id="show">

    </div>

    <div style="background-color: #FFFAF4;" class="border-0 rounded">
        <form id="show" method=post >
            <h1 class="text-center">你的任務資訊</h1>
            <h5 class="text-end fw-light" id="identy"></h5>
            <div class="form-group">
                <label for="formGroupExampleInput">任務名稱:</label>
                <input type="text" id="missonName" class="form-control" readonly style=" background: white; color: black;">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">內容:</label>
                <textarea class="form-control" id="missonConten" rows="3" readonly style=" background: white; color: black;"></textarea>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">執行地點</label>
                <input type="text" id="missonlocation" class="form-control" readonly style=" background: white; color: black;">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">時間:</label>
                <input type="text" id="missontime" class="form-control" readonly style=" background: white; color: black;">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">任務報酬:</label>
                <input type="number" id="missonfee" class="form-control" readonly style=" background: white; color: black;">
            </div>
            <br /><br />


            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2" id="done" style="display:none">確認任務完成</button>
                    <button type="submit" class="btn btn-primary mb-2" id="cancel" style="display:none">取消任務發布</button>
                    <button type="submit" class="btn  btn-danger mb-2" id="giveup" style="display:none">放棄任務</button>
                </div>
                <div class="col">
                    <button id="report" type="button" class="btn btn-outline-danger float-end" style="display:none;">檢舉</button>
                </div>
            </div>
        </form>
    </div>
</div>




<script src="../static/scripts/mydetail.js"></script>
    {% endblock %}
